{% extends 'visited/base.html' %}

{% block content %}

<form action="{% url 'addpost' %}" method='post'>
    {% csrf_token %}

    <div class='form-error'>{{ form.non_field_errors }}</div>

{% for f in form %}
{% if f.id_for_label == 'id_latitude' %}
    <p><label class='form-label' for='{{ f.id_for_label }}'>{{f.label}}: </label><input type='text' id='latitude' name='latitude' required id='id_latitude'></p>
    <div class='form-error'>{{ f.errors }}</div>
{% elif f.id_for_label == 'id_longitude' %}
    <p><label class='form-label' for='{{ f.id_for_label }}'>{{f.label}}: </label><input type='text' id='longitude' name='longitude' required id='id_longitude'></p>
    <div class='form-error'>{{ f.errors }}</div>
{% else %}
<p><label class='form-label' for='{{ f.id_for_label }}'>{{f.label}}: </label>{{ f }}</p>
    <div class='form-error'>{{ f.errors }}</div>
{% endif %}
{% endfor %}

    <button type='submit'>Сохранить</button>
</form>


<style>
    #map {width:100%; height:600px;}
</style>
<div id='map'></div>

    <script>
      function initMap() {
        var location = {lat: 56.83831, lng: 60.603611}; // Координаты центра карты
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          draggable: true
        });
        google.maps.event.addListener(marker, 'dragend', function(event){
          document.getElementById('latitude').value = event.latLng.lat();
          document.getElementById('longitude').value = event.latLng.lng();
        });
      }

    </script>
{% endblock %}