{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Главная страница</title>
	<link type="text/css" href="{% static 'visited/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">

{% for m in menu %}
	{% if forloop.first %}
			<li><a href="{% url 'home' %}">{{m.title}}</a></li>
	{% else %}
			<li class="last"><a href="{% url 'login' %}">{{m.title}}</a></li>
	{% endif %}
{% endfor %}
			</ul>
			<div class="clear"></div>

<div class="description-site" style="text-align: center">Приложение, с помощью которого люди смогут хранить свои впечатления о посещаемых местах.
	<p><a href="{% url 'addpost' %}">Добавить воспоминание</a></p>
</div>
		</div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<td valign="top" class="content">

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>

<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Пусть у вас будет больше хороших воспоминаний!</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>