{% extends 'visited/base.html' %}

{% block content %}
<ul class="list-articles">

	{% if not posts %}
		<div>У вас нет ни одного воспоминания</div>
	{% endif %}

	{% for p in posts %}
			<li>
				<div class="article-panel">
					<p class="first">Координаты: {{p.latitude}} и {{p.longitude}}</p>
					<p class="last">Дата: {{p.time_create|date:"d-m-Y H:i:s"}}</p>
				</div>
				<h2>{{p.name}}</h2>
	{% autoescape on %}
	{{p.comment}}
	{% endautoescape %}
			<div class="clear"></div>
			</li>
	{% endfor %}
</ul>
{% endblock %}